resume: /content/model_437.pt
load_encoder: true
load_fuse_generator: true
device: cuda:0
image_size: 224
K: 1
deterministic: false
train:
  lr: 1.0e-05
  num_epochs: 500
  batch_size: 32
  num_workers: 8
  checkpoint: pretrained_models/SMIRK_em1.pt
  log_path: logs/2
  log_losses_every: 12
  visualize_every: 72
  mask_ratio: 0.1
  mask_dilation_radius: 4
  save_every: 1
  use_wandb: false
  Ke: 1
  samples_per_epoch: 1939
  use_base_model_for_regularization: false
  resume_epoch: 437
  train_scale_min: 1.2
  train_scale_max: 1.8
  test_scale: 1.6
  loss_weights:
    landmark_loss: 200.0
    perceptual_vgg_loss: 10.0
    reconstruction_loss: 10.0
    emotion_loss: 0.0
    jaw_regularization: 0.5
    expression_regularization: 0.01
    shape_regularization: 30
    cycle_loss: 0
    mica_loss: 0
  optimize_pose: true
  optimize_shape: true
  optimize_expression: true
  freeze_encoder_in_second_path: true
  freeze_generator_in_second_path: true
arch:
  backbone_pose: tf_mobilenetv3_small_minimal_100
  backbone_shape: tf_mobilenetv3_large_minimal_100
  backbone_expression: tf_mobilenetv3_large_minimal_100
  num_expression: 50
  num_shape: 300
  use_eyelids: true
  enable_fuse_generator: true
render:
  full_head: false
dataset:
  ME79:
    root: /content/drive/MyDrive/SMIRT@LCX20251108/ME79
    train_list: /content/drive/MyDrive/SMIRT@LCX20251108/ME79/train_list.txt
    val_list: /content/drive/MyDrive/SMIRT@LCX20251108/ME79/val_list.txt
    test_list: /content/drive/MyDrive/SMIRT@LCX20251108/ME79/test_list.txt
    img_dir: IMAGES
    txt_dir: FAN68TXT
    json_dir: MP468JSON
