### 本配置适配 : LCX251217 中期EPOCH 200-300。
### 冻结STEP2,避免震荡。CYCLE LOSS置0。

resume: /content/model_200.pt  ### 1:恢复路径
load_encoder: True
load_fuse_generator: True
device: cuda:0
image_size: 224
K: 1 # temporal sequence length - no temporal data used here
deterministic: False

train:
  lr: 2e-5  ### EPOCH0-40=2e-4,E40-120=1e-4,E120-200=5e-5,E200-300=2e-5,E300-350=1e-5。
  num_epochs: 350
  batch_size: 32
  num_workers: 8
  checkpoint: pretrained_models/SMIRK_em1.pt

  log_path: logs/2
  log_losses_every: 12
  visualize_every: 72  # 60TRAIN+12VAL=72BS。每轮每个多少批次显示一次。

  mask_ratio: 0.1  # % pixel to be retained inside the face mask
  mask_dilation_radius: 4 # dilation of the initial face mask
  
  save_every: 1 # save model every n epochs
  use_wandb: False
  Ke: 1 # number of repeated frames for 2nd cycle path
  samples_per_epoch: 1939

  use_base_model_for_regularization: False  ### 0-120E开启,E120之后关闭。
  resume_epoch: 200  ### 3: 从EPOCH200 开始恢复继续训练。
  train_scale_min: 1.2  # min scale for data augmentation during training
  train_scale_max: 1.8 # max scale for data augmentation during training
  test_scale: 1.6 # fixed scale for testing

  loss_weights:
    landmark_loss: 200.0   # landmark loss weight
    perceptual_vgg_loss: 10.0  # RECONSTRUCTION - perceptual vgg loss weight
    reconstruction_loss: 10.0  # RECONSTRUCTION - l1 loss weight
    emotion_loss: 0.0  # extra emotion loss weight 
    jaw_regularization: 1.0 ### EPOCH0-40为3,E40-120=3,E120-200=2,E200-300=1,E300-350=0.5 原来定的0.1几乎没有约束作用。
    expression_regularization: 1e-2
    shape_regularization: 50  ### 40E之前200,40-120E为150,E120-200为100,E200-300为50,E300-350为30。
    cycle_loss: 0
    mica_loss: 0

  optimize_pose: True
  optimize_shape: True
  optimize_expression: True

  # 自动可调超参数,仅在此处声明:
  freeze_encoder_in_second_path: True
  freeze_generator_in_second_path: True

# architectural details - backbones and number of FLAME components
arch:
  backbone_pose: tf_mobilenetv3_small_minimal_100    
  backbone_shape: tf_mobilenetv3_large_minimal_100
  backbone_expression: tf_mobilenetv3_large_minimal_100
  num_expression: 50 
  num_shape: 300 # same as MICA
  use_eyelids: True
  enable_fuse_generator: True 

render:
  full_head: False  # full FLAME rendering


dataset:
  ME79:
    root: /content/drive/MyDrive/SMIRT@LCX20251108/A42
    train_list: /content/drive/MyDrive/SMIRT@LCX20251108/A42/train_list.txt
    val_list: /content/drive/MyDrive/SMIRT@LCX20251108/A42/val_list.txt
    test_list: /content/drive/MyDrive/SMIRT@LCX20251108/A42/test_list.txt
    img_dir: IMAGES
    txt_dir: FAN68TXT
    json_dir: MP468JSON

